.login-background-image-container{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    background-image: url('../images/login_container.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.login-form{
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 31px rgba(0, 0, 0, 0.25));
}

.credentials-error-container{
    position: relative;
    width: 50%;
    height: 20%;
    background-color: rgba(255, 0, 0, 0.1);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.5px solid red;
}

.credentials-error-message {
    font-size: 1rem;
    font-weight: 300;
    color: red;
    text-align: center;
}

.login-form-container {
    position: relative;
    height: 10%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.login-form-input{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
    border: 0px solid white;
    padding-left: 1rem;
    font-size: 20px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form-input-pass{
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
    border: 0px solid white;
    padding-left: 1rem;
    font-size: 20px;
    height: 2rem;
}

.eye-container {
    position: absolute;
    height: 100%;
    width: 30%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye {
    position: relative;
    color: #4075FF;
    font-size: 1rem;
}

.eye:hover {
    cursor: pointer;
}

.login-form button{
    width: 45%;
    height: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background: #4075FF;
    box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.25);
    border: 0px solid #4075FF;
    color: white;
    font-size: 20px;
    transition: 0.4s ease;
    cursor: pointer;
}

.login-form button:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.login-form p{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .login-form{
        width: 70%;
    }

    .login-background-image-container{
        width: 90%;
    }
    
}