.navbar-mobile-container{
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: space-between;
}

.dashboard-logo-container-mobile{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-logo-container-mobile img{
    position: relative;
    height: 3rem;
    transition: 0.4s ease;
    cursor: pointer;
    margin-left: 1rem;
}

.dashboard-logo-container img:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.bars-icon{
    height: 2rem;
    color: gray;
}

.bars-icon:hover{
    cursor: pointer;
}

.navbar-mobile-main-container{
    z-index: 4;
}

.right-icon-mobile-container{
    position: relative;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    position: fixed;
    right: -100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: right 0.3s ease;
  }
  
.menu.open {
right: 0;
}

.user-info-mobile-container{
    display: flex;
    align-items: center;
}

.user-info-data-container{
    margin-left: 1rem;
}

.menu-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c6c6c6;
    border-bottom: none;
    transition: 0.2s ease;
}

.menu-section-container:hover {
    cursor: pointer;
    background-color: #6BA4FF;
    transition: 0.2s ease;
    color: white;
}

.menu-section-container.selected{
    background-color: #6BA4FF;
    color: white;
}

.logout-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF0000;
    color: white;
}

.logout-menu-container:hover {
    cursor: pointer;
}

