.logo-container{
    height: 3rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo-container:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.logo-container img{
    height: 3rem;
}

.navbar-container{
    height: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navigation-container{
    display: flex;
    height: 100%;
}

.navigation-button-container{
    height: 80%;
    width: 6rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4rem;
    text-decoration: none;
    background-color: #d5d5d5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    cursor: pointer;
}

.navigation-button-container:hover {
    transform: scale(1.1);
    transition: 0.4s ease;
}

.navbar-section {
    position: relative;
    color: #4075FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.signup-container{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2rem;
}


.signup-container p{
    background-color: #4075FF;
    border: 1px solid #4075FF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s ease;
    cursor: pointer;
}

.signup-container p:hover {
    transform: scale(1.1);
    background-color: white;
    color: #4075FF;
    border: 1px solid #d9d9d9;
    transition: 0.4s ease;
}

@media screen and (max-width: 700px)  {

    .navigation-button-container{
        margin-right: 2rem;
        height: 50%;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-section {
        position: relative;
        font-size: 12px;
    }

    .signup-container{
        margin-right: 1rem;
    }

    .signup-container p{
        font-size: 12px;
        padding-top: .7rem;
        padding-bottom: .7rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .logo-container{
        margin-left: 1rem;
    }
}
